
// color
@primary: #aa8b52;
@dark: #333;
@light: #efeeee;

// font-size
@font-default: 1rem;
@font-medium: @font-default * 2.25;
@font-large: @font-default * 3.25;

// size
@step: 1rem;
@gap: @step;
@paddings: {
  auto: auto;
  xl: @step / 2;
  sm: @step;
  md: @step * 1.5;
  lg: @step * 2.5;
  xlg: @step * 5;
};
@margins: {
  auto: auto;
  xl: @step / 2;
  sm: @step;
  md: @step * 1.5;
  lg: @step * 2.5;
  xlg: @step * 5;
};
@max-width-container: 90rem;
@max-width-content: 60rem;

