
// color
@primary: #aa8b52;
@dark: #333;
@light: #efeeee;

// font-size
@font-default: 1rem;
@font-medium: @font-default * 2.25;
@font-large: @font-default * 3.25;

// size
@max-width-container: 90rem;
@padding-container-inline: 100% - 3rem;
@padding-container-block: 1rem;
@space: 1.5rem;
@gap: @space;
